/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

Page {
    background-color: #beb7a4;
}

Button {
    /* Style selector */
    background-color: #322a26;
    color: #e6e0d1;
    border-radius: 15;
    margin: 10;

}

.title {
    /* Class selector */
    background-color: #2c1a1d;
    color: #e6e0d1;
    font-size: 24;
    font-weight: bold;
    padding: 20;
    text-align: center;
    margin-bottom: 12;
}

.content {
    padding: 12;
}

#submit {
    /* ID selector */
}

StackLayout Label {
    color: #3c5abb;
    font-weight: bold;
    font-size: 16;
}

StackLayout > Label {
    /* Hierarchical selectors
    Direct Child */
}

TextField[hint] {

}

/* * {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    margin: 1px;
    padding: 1px;
}  */